<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME" value="/logs"/>
        <property name="FILE_NAME">jsonTemplate</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %l %m%n"/>
        </Console>

        <RollingFile name="File" fileName="${LOG_HOME}/${FILE_NAME}.log"
                     filePattern="${LOG_HOME}/%d{yyyy-MM}/${FILE_NAME}_%d{yyyy-MM-dd}_%i.log.gz"
                     immediateFlush="true">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %l %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>

    <Loggers>

        <!--<Logger name="File" level="trace" additivity="true">-->
            <!--<AppenderRef ref="File" /> -->
        <!--</Logger>-->

        <Root level="debug">
            <!--<AppenderRef ref="File" />-->
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>